# Unit test / coverage reports
tests/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/


# Environments
.env
.envrc
.venv*
venv*
env/
ENV/
env.bak/
